html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.blue1 {
    color: #55b0d0 !important;
}

.page{
    margin: 7rem 30% 7rem 30%;
}

.result{
    margin-top: 1rem;
    margin-left: 5rem;
    padding: 1em;
    position: center;
}

/* Important for search options */
.dropdown{
    margin-right: 1rem ;
}


.inscription, .connection{
    color: #55b0d0 !important;
    margin: 0.5em 40% 0.5em 40% !important;
}
